<section id="main" class="p-8 bg-[--background-color] text-[--text-color] font-sans leading-relaxed">
  <h1 class="text-2xl text-[--primary-color] mb-4 font-bold text-center"><%= @list.name %></h1>
  

  <!-- Modal -->
  <div id="item-modal" class="hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50">
    <div class="bg-[--card-background] mx-auto mt-20 p-6 max-w-lg rounded-lg shadow-lg relative">
      <h2 class="text-xl text-white bg-[--primary-color] rounded-lg px-4 py-2 mb-4">Adicionar Novo Item</h2>
      <!-- Botão para fechar o modal -->
      <button id="close-modal-btn" class="absolute top-4 right-4 bg-[--secondary-color] text-white rounded-full p-2 cursor-pointer">X</button>

      <!-- Formulário para adicionar um novo item -->
      <%= form_with(model: [@list, @list.items.new], local: true, class: "space-y-4") do |form| %>
        <div>
          <%= form.label :name, "Nome da Tarefa", class: "block text-base font-medium mb-1" %>
          <%= form.text_field :name, required: true, class: "w-full p-3 border border-gray-300 rounded-lg" %>
        </div>
        <div>
          <%= form.label :description, "Descrição", class: "block text-base font-medium mb-1" %>
          <%= form.text_area :description, class: "w-full p-3 border border-gray-300 rounded-lg" %>
        </div>
        <div>
          <%= form.label :due_date, "Data de Entrega", class: "block text-base font-medium mb-1" %>
          <%= form.date_field :due_date, class: "w-full p-3 border border-gray-300 rounded-lg" %>
        </div>
        <div>
          <%= form.label :completed, "Já foi feito?", class: "block text-base font-medium mb-1" %>
          <%= form.check_box :completed, class: "rounded" %>
        </div>
        <div>
          <%= form.submit "Adicionar Item", class: "bg-green-500 text-white rounded-lg px-4 py-2 cursor-pointer hover:bg-green-600" %>
          <p class="text-red-500 text-sm">* Todos os campos são obrigatórios</p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Exibir os itens -->
  <div class="flex justify-between items-center bg-card rounded-full mt-8 py-2 px-4">
    <h2 class="text-xl text-primary">Itens da Lista</h2>
    <button id="open-modal-btn" class="bg-[--secondary-color] text-white border-none rounded-full px-6 py-2 cursor-pointer transition duration-300 hover:bg-orange-400 ">
      Adicionar Novo Item
    </button>
  </div>
  <% if @list.items.any? %>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <% @list.items.each do |item| %>
        <% next if item.id.nil? %> 
        <li class="bg-[--card-background]  rounded-lg shadow-lg transition-transform transform hover:-translate-y-1">
          <strong class="bg-primary uppercase text-white text-lg block mb-5 w-full p-4 rounded-t-xl"><%= item.name %></strong>
          <div class="p-4">
            <% if item.description.present? %>
              <p class="text-base"><%= item.description %></p>
            <% end %>
            <% if item.due_date %>
              <span class="inline-block text-base">Entregar até:</span>
              <p class="inline-block text-lg"><%= item.due_date.strftime('%d/%m/%Y') %></p>
            <% end %>
            <% if item.completed %>
              <span class="text-green-500">✔ Feito</span>
            <% else %>
              <span class="text-red-500 block mt-4">❌ Não Feito</span>
            <% end %>
            <div id="buttons" class="flex flex-wrap mt-4 space-x-2">
              <div>
                <%= link_to "Excluir", list_item_path(@list, item), method: :delete, data: { confirm: "Tem certeza?" }, class: "bg-red-500 text-white rounded-full px-4 py-2 cursor-pointer hover:bg-red-600" if item.id.present? %>
              </div>
              <div> 
                <%= link_to "Editar", edit_list_item_path(@list, item), class: "bg-yellow-500 text-white rounded-full px-4 py-2 cursor-pointer hover:bg-yellow-600" if item.id.present? %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="mt-4">Sem itens na lista. Adicione o primeiro item usando o botão acima!</p>
  <% end %>

  <!-- Links -->
  <div class="flex space-x-4 mt-8 bg-card rounded-full py-2 px-4 w-fit">
    <%= link_to lists_path, class: " text-white rounded-full px-6 py-2 " do %>
      <%= image_tag "back.png", alt: "Meu Logo", class: "w-8 h-auto" %>
    <% end %>
    <%= link_to edit_list_path(@list), class: "text-white rounded-full px-6 py-2 " do %>
      <%= image_tag "edit.png", alt: "Meu Logo", class: "w-8 h-auto" %>
    <% end %>
    <%= button_to list_path(@list), method: :delete, class: " text-white rounded-full px-6 py-2 ",
      form: { class: "inline" },
      data: { turbo_confirm: "Tem certeza?" } do %>
      <%= image_tag "delete.png", alt: "Meu Logo", class: "w-8 h-auto" %>
    <% end %>
  </div>
</section>
