<div id="main" class="text-gray-800 w-4/5 mx-auto p-8 bg-white rounded-xl shadow-md md:mt-20 mt-10 mb-10">
  <h1 class="text-2xl text-primary mb-6">Editar Item da lista</h1>

  <%= form_with(model: [@list, @item], local: true, class: "space-y-4") do |form| %>
    <% if @item.errors.any? %>
      <div class="text-red-500">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :nome, class: "block mb-2" %>
      <%= form.text_field :name, class: "w-full p-4 mb-2 rounded border border-gray-300 text-lg" %>
    </div>

    <div>
      <%= form.label :Descrição, class: "block mb-2" %>
      <%= form.text_area :description, class: "w-full p-4 mb-2 rounded border border-gray-300 text-lg" %>
    </div>

    <div>
      <%= form.label :Data, class: "block mb-2" %>
      <%= form.date_select :due_date, { order: [:day, :month, :year] }, class: "w-full p-4 mb-2 rounded border border-gray-300 text-lg" %>
    </div>

    <div class="flex items-center">
      <%= form.label :completa, class: "block mb-2 mr-4" %>
      <%= form.check_box :completed, class: "mt-[-0.5rem]" %>
    </div>

    <div>
      <%= form.submit "Confirmar", class: "bg-primary text-white border-none rounded p-2 cursor-pointer hover:bg-green-800 transition duration-300 ease-in-out" %>
    </div>
  <% end %>

  <div class=" flex mt-8">
    
    <%= link_to list_path(@list), class: "text-primary hover:underline" do %>
      <div class="flex items-center">
        <%= image_tag "back.png", alt: "Meu Logo", class: "w-5 h-auto mr-2" %> Voltar
      </div>
    <% end %>
  </div>
</div>
