<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>

    <style>
      :root {
        --primary-color: #5A8F7B; 
        --secondary-color: #F2B880; 
        --background-color: #FAF3DD;
        --text-color: #2A363B; 
        --card-background: #FFFFFF; 
      }

      body {
        background-color: var(--background-color); 
        margin: 0;
        padding: 0; 
      }

      #form-actions > *{
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        font-size: 1rem;
        text-decoration: none;
      }

      #form-actions > div > *{
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        font-size: 1rem;
        text-decoration: none;
      }

    </style>

    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <title><%= content_for(:title) || "To Do List" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="header" style="display: flex; flex-direction: column;   padding: 1rem 2rem; border-radius: 1rem;">
        <div style="display: flex; justify-content: space-between; align-items: center; background-color: var(--primary-color); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius:1rem; margin: 0 2rem 2rem; padding: 0 2rem; hover: background-color:rgb(231, 99, 22);">
          <p style="color:#FFF"><strong>Bem-vindo :</strong> <%= current_user.email %>!</p>
          <%= form_with(url: destroy_user_session_path, method: :delete, class: "logout-form") do %>
          <button type="submit" style="background-color: var(--secondary-color);
            color: white;
            border: none;
            border-radius: 2rem;
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
          font-size: 1rem;">Sair</button>
        </div>
      <header>
    <% end %>

    <% else %>
      <header class="header" style="display: flex; flex-direction: column;   padding: 1rem 2rem; border-radius: 1rem;">
        <div style="display: flex; justify-content:space-between; align-items: center; background-color: var(--primary-color); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius:1rem; margin: 0 2rem 2rem; padding: 0 2rem; hover: background-color:rgb(231, 99, 22); padding: 1rem" >
          <p style="color:#FFF"><strong>Bem-vindo ao To Do List!</strong></p>
          <article style="display: flex; justify-content: space-between; align-items: center; padding: 1rem">
            <div style="margin-right: 1rem" id="form-actions">
              <%= link_to 'Entrar', new_user_session_path  %> 
            </div>
            <div id="form-actions">
              <%= link_to 'Registrar-se', new_user_registration_path %>
            </div>
          <article>
        </div>
      </header>
    <% end %>
      

    <%= yield %>
  </body>
</html>
